@import url('https://fonts.googleapis.com/css?family=Russo+One');
body {
  background: rgb(135 181 181) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.wrapper {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  /* variable  */
  justify-content: space-between;
}
.toolbar {
  background-color: rgb(74 163 163);
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  font-family: Russo One;
  font-size: 1rem;
  border: 1px solid rgb(29 47 47);
}
.editor {
  border: 1px solid rgb(29 47 47);
  font-size: 0.875rem;
  outline: none;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  background-color: rgb(192 216 216);
}
.fa-up-down-left-right:hover {
  cursor: pointer;
  color: rgb(87 226 177);
}
.fa-down-left-and-up-right-to-center:hover {
  cursor: pointer;
  color: rgb(87 226 177);
}
.preview {
  background-color: rgb(192 216 216);
  border: 1px solid rgb(29 47 47);
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-top: none;
}
.preview h1 {
  border-bottom: 2px solid rgb(34 75 75);
}
.preview h2 {
  border-bottom: 1px solid rgb(34 75 75);
}
.preview pre {
  overflow: auto;
  background: rgb(255 255 255);
  padding: 5px;
  line-height: 1.2;
}
.preview code {
  background: rgb(255 255 255);
  font-size: 0.875rem;
  font-weight: bold;
}
.preview blockquote {
  border-left: 3px solid rgb(34 75 75);
  color: rgb(34 75 75);
  padding-left: 5px;
  margin-left: 25px;
}
.preview table {
  border-collapse: collapse;
}
.preview th {
  border: 2px solid rgb(34 75 75);
  padding-left: 5px;
  padding-right: 5px;
}
.preview td {
  border: 2px solid rgb(34 75 75);
  padding-left: 5px;
  padding-right: 5px;
}
.preview ul {
  margin: revert;
}
.preview ol {
  margin: revert;
}
